html
<html>
	<head>
		<title>Django Girls Blog</title>
	</head>
	<body>
		<div>
			<h1><a href="/">Django Girls Blog</a></h1>
			</div>
			<div>
				<p>published: 22.11.2021, 12:14</p>
				<h2><a href="">My First Blog</a></h2>
				<p>Very exiceted! This is my first blog experience. How is wonderful. </p>
			</div>

			<div>
				<p>published: 22.11.2021 12:20</p>
				<h2><a href="">My second entry</a></h2>
				<p>Once upon a time, fun with computers, coding smiles us.</p>
			</div>
	</body>
</html>

